
:root{
    --colorUno:#F3D2B3;
    --colorDos:#F2B8A2;
    --colorTres:#F38C8D;
    --colorCuatro:#F3D2B3;
    --colorcinco:#548EA6;
    --coloSeis:#1E404D;
    --colornegro:  #2c2b29;
    --colorblanco:#eee8dc; 

    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}

html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--coloSeis);
    color: var(--colorblanco);
    font-size: var(--font-size);
}


h1, h2, h3{
    margin: 0;
}

a{
    color: var(--colorTres);
}

a:hover{
    color: var(--colorUno);
    text-decoration: none;
}

img{
    width: 100%;
}


/*Intro*/

#intro{
    padding: 4rem 1rem 10rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#intro p{
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name{
    font-family: var(--mono);
}

.name span{
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--colorDos);
    display: block;
}

#intro h2{
    font-size: 4rem;
    font-weight: normal;
}


/*Contact me*/
.section-plum{
    background-color: var(--colorCuatro);
}
#contacto{
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
}

#contacto p:last-child{
    margin-top:3rem ;
}

#contacto h2{
    color: var(--coloSeis);
}

#contacto p{
    color: var(--colorTres);
}


/*Nav*/

nav{
    font-family: var(--mono);
    font-size: 88%;
    padding: 1rem;
}

nav h1 a{
    font-family: var(--sans);

}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child{
    flex-basis: 100%;
    text-align: center;
}

nav [class*="fa-"]{
    font-size: 150%;
    color: var(--colorDos);
}

nav h1 [class*="fa-"]{
    font-size: 100%;
    color: var(--colorDos);
}

nav a{
    color: var(--colorblanco);
    text-decoration: none;
    display: block;
}

nav a:hover,
nav [class*="fa-"]:hover{
    color: var(--colorTres);
}

.button{
    background-color: var(--colorDos);
    color: var(--coloSeis);
    padding: 0.5rem;
    border-radius: 5px;
}

.buttontwo{
    background-color: var(--coloSeis);
    color: var(--colorTres);
    padding: 0.7rem;
    border-radius: 5px;
    font-family: var(--mono);
    text-decoration: none;
}



.button:hover{
    color: var(--colorcinco);
    background-color: var(--colorCuatro);
}

/*Projects*/
.section-pink{
    background-color: var(--colorTres);
}

#proyectos{
    padding: 4rem 1rem;
}

#proyectos h2{
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
    color: var(--coloSeis);
}

#proyectos h3{
    color: var(--colorcinco);
}

#proyectos h4{
    font-size: 1rem;
    color: var(--colorUno);
    font-family: var(--mono);
    margin: 0;
}

.greenbox{
background-color: var(--coloSeis);
padding: 1rem;
border-radius: 10px;
color: var(--colorblanco);
font-size: 1rem;
line-height: 1.5;
}

#proyectos ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
}

#proyectos img{
    margin: 2rem 0 4rem 0;
    border-left: 1px solid var(--colornegro);
    border-top: 1px solid var(--colornegro);
    border-radius: 25px;
    padding: 1rem;
}

#proyectos #imglogo{
    margin: 2rem 0 4rem 0;
    border-left: 1px solid var(--colornegro);
    border-top: 1px solid var(--colornegro);
    border-radius: 50%;
    padding: 1rem;
}

@media (min-width:880px) {
    article{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        gap: 1rem;

    }

    #proyectos{
        max-width: 1200px;
        margin: 0 auto;
    }
    
    #proyectos img{
        grid-column: 1/6;
        grid-row: 1/2;
    }

    .text{
        grid-column: 5/11;
        grid-row: 1/2;
        order: 2;
        text-align: right;
        
    }

    #proyectos ul{
        justify-content: flex-end;
    }

    #proyectos .reverse .text{
        grid-column: 1/7;
        order: 2;
        text-align: left;
    }

    #proyectos .reverse img{
        grid-column: 6/11;
        grid-row: 1/2;
    }

    #proyectos .reverse ul{
        justify-content: flex-start;
    }




}


/*Footer*/

footer{
    text-align: center;
    padding: 4rem 0;

}

#textofooter{
    font-size: 1.5rem;
}

footer p{
    font-size: 1rem;
}

footer ul{
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
    
    
}

.gradient{
    background: linear-gradient(90deg, rgba(243,140,141,1) 0%, rgba(30,64,77,1) 100%);
    height: 2px;
}







/*Media navbar*/
@media (min-width:850px){

    nav{
        max-width: 1200px;
        margin: 0 auto;

    }

    nav li:first-child{
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}


